ul,li{list-style-type: none;}
/*go*/
/*head*/
.head{background-image: linear-gradient(to top,#fbfbfb,#f4f4f4); border-bottom:1px solid #fff; height: 32px; line-height: 32px; padding-left:3em;}

body{background: #cfd8dc;}
.bg{position: fixed;width:100%;z-index: -1;}
.title {padding:45px 0 15px; text-align: center;}
.title h1{font-weight: bold; font-size: 9em; font-family: 'Raleway', Arial, sans-serif; color: #37474f; line-height: 1em; margin-bottom: 0;}
.container{}
.welcome{background: url(../images/font_bg.png); 
	-webkit-text-fill-color:transparent; 
	-webkit-background-clip:text; 
	-webkit-animation:welcome-animation 30s linear infinite; 
	-webkit-box-reflect:below -0.3em -webkit-linear-gradient(transparent,transparent 45%, rgba(255,255,255,.4));
	/* text-shadow: 1px 1px 3px #143d67; */
}
@-webkit-keyframes welcome-animation{
 0%{background-position: left bottom;}
 100%{background-position: right bottom;}
}

/* main_nav */
.main_nav{ height: 80px; margin: 15px 0;display:-webkit-flex;display:flex;justify-content:center;}
.button{border-radius: 5px; display: block; border: 1px solid #37474f; color: #37474f; max-width: 180px; min-width: 150px; text-align: center; margin:1em; position: relative; background: none;-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale; text-decoration: none; float: left;}
.button:hover{text-decoration: none; background-color:rgba(63, 81, 181, 0.1); color: #3f51b5; border-color:#3f51b5;}
.button::after{content: attr(data-text); position: absolute;width:100%; height: 100%; top:0; left: 0; opacity: 0; color: #3f51b5; -webkit-transform:translate3d(0,25%,0);transform:translate3d(0,25%,0); text-decoration: none;}
.button::after,.button span{display: block; padding:1em 2em;  text-decoration: none;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button:hover::after{
	opacity: 1;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	text-decoration: none;	
}
.button:hover > span{
	opacity: 0;
	-webkit-transform:translate3d(0, -25%, 0);
	transform:translate3d(0,-25%,0);
}
/* main_nav */

/*github.io动画*/

.webtall{position: relative; top:-30px; left: 0px; height: 80px;}
.webtall ul li{position: absolute; left: -40px; top:40px; width:40px; height: 40px; border-radius: 20px; color: #590078; font-weight: bold; font-size: 38px; margin-top: 20px; text-align: center; line-height: 40px;font-family: 'Raleway', Arial, sans-serif; background:rgba(255,255,255,.2);}

.webtall ul li.webtall-li7{left:50%; margin-left: 202px;
	-webkit-animation:webtall-li7 2s,webtall-li7r 2s,webtall-li7t 1.2s 4s,webtall-li7tc 3s 5.2s; -webkit-transform:rotate(360deg);
}
.webtall ul li.webtall-li6{left:50%; margin-left: 147px;
	-webkit-animation:webtall-li6c 0.2s 0s,webtall-li6 1.8s 0.2s,webtall-li7r 1.8s 0.2s,webtall-li7t 1s 4.2s, webtall-li7tc 3s 5.2s;
	-webkit-transform:rotate(360deg);
}
.webtall ul li.webtall-li5{left:50%; margin-left: 38px;
	-webkit-animation:webtall-li6c 0.4s 0s, webtall-li5 1.6s 0.4s,webtall-li7r 1.6s 0.4s,webtall-li7t 0.8s 4.4s, webtall-li7tc 3s 5.2s;
	-webkit-transform:rotate(360deg);
}
.webtall ul li.webtall-li4{left:50%; margin-left: -17px;
	-webkit-animation:webtall-li6c 0.6s 0s,webtall-li4 1.4s 0.6s,webtall-li7r 1.4s 0.6s,webtall-li7t 0.6s 4.6s, webtall-li7tc 3s 5.2s;
	-webkit-transform:rotate(360deg);
}
.webtall ul li.webtall-li3{left:50%; margin-left: -72px;
	-webkit-animation:webtall-li6c 0.8s 0s,webtall-li3 1.2s 0.8s,webtall-li7r 1.2s 0.8s,webtall-li7t 0.4s 4.8s,webtall-li7tc 3s 5.2s;
	-webkit-transform:rotate(360deg);
}
.webtall ul li.webtall-li2{left:50%; margin-left: -127px;
	-webkit-animation:webtall-li6c 1s 0s,webtall-li2 1s 1s,webtall-li7r 1s 1s,webtall-li7t 0.2s 5s, webtall-li7tc 3s 5.2s;
	-webkit-transform:rotate(360deg);
}
.webtall ul li.webtall-li1{left:50%; margin-left: -182px;
	-webkit-animation:webtall-li6c 1.2s 0s,webtall-li1 0.8s 1.2s,webtall-li7r 0.8s 1.2s,webtall-li7t 0.1s 5.2s, webtall-li7tc 3s 5.2s;
	-webkit-transform:rotate(360deg);
}
.webtall ul li.webtall-li0{left:50%; margin-left: -237px;
	-webkit-animation:webtall-li6c 1.4s 0s,webtall-li0 0.6s 1.4s,webtall-li7r 0.6s 1.4s,webtall-li7t 0.1s 5.4s, webtall-li7tc 3s 5.2s;
	-webkit-transform:rotate(320deg);
}
.webtall ul li.webtall-li8{background:none;left:50%; margin-left: 92px;
	-webkit-animation:webtall-li6c 2.5s 0s,webtall-li8 1.5s 2.5s,webtall-li7t 0.5s 4.5s,webtall-li7tc 3s 5s;
}
.webtall-border{position: absolute; top:110px; z-index: 3px; border-bottom: 1px solid #780062; width:0; height: 0; overflow: hidden; -webkit-animation:webtall-border 2s; width:100%;}

@-webkit-keyframes webtall-li7{
	0%{left:-10%;}
	100%{left:50%; margin-left: 202px;}
}
/*@-webkit-keyframes webtall-li7t{
	0%{top:20px;}
	100%{top:-10px;}
}*/
@-webkit-keyframes webtall-li7r{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
/*@-webkit-keyframes webtall-li7tc{
	0%{top:-10px;}
	100%{top:-10px;}
}*/

@-webkit-keyframes webtall-li6c{
	0%{left:-10%;}
	100%{left:-10%;}
}
@-webkit-keyframes webtall-li6{
	0%{left:-10%;}
	100%{left:50%; margin-left: 147px;}
}

@-webkit-keyframes webtall-li5{
	0%{left:-10%;}
	100{left:50%; margin-left: 38px;}
}
@-webkit-keyframes webtall-li4{
	0%{left:-10%;}
	100%{left:50%; margin-left: -17px;}
}
@-webkit-keyframes webtall-li3{
	0%{left:-10%;}
	100%{left:50%; margin-left: -72px;}
}
@-webkit-keyframes webtall-li2{
	0%{left:-10%;}
	100%{left:50%; margin-left: -127px;}
}
@-webkit-keyframes webtall-li1{
	0%{left:-10%;}
	100%{left:50%; margin-left: -182px;}
}
@-webkit-keyframes webtall-li0{
	0%{left:-10%;}
	100%{left:50%; margin-left: -237px;}
}
@-webkit-keyframes webtall-li8{
	0%{right:10%; top:-60px; margin-left: 257px;}
	30%{left:50%; top:20px; margin-left: 202px;}
	50%{left:50%; top:10px; margin-left: 177px;}
	70%{left:50%; top:20px; margin-left: 147px;}
	90%{left: 50%; top:10px; margin-left: 110px;}
	100%{left: 50%; margin-left: 92px;}
}
@-webkit-keyframes webtall-border{
	0%{width:0;}
	100%{width:100%;}
}

/*github.io动画END*/