ul,li{list-style-type: none;}
/*go*/

body{background: #cfd8dc;}
.bg{position: fixed;width:100%;z-index: -1;}
.title {padding:25px 0 25px; text-align: center;}
.title h1{font-weight: bold; font-size: 3em; font-family: 'Raleway', Arial, sans-serif; color: #37474f; line-height: 1em; margin-bottom: 0;}
.container{}
.welcome{background: url(../images/font_bg.png); 
	-webkit-text-fill-color:transparent; 
	-webkit-background-clip:text; 
	-webkit-animation:welcome-animation 30s linear infinite; 
	-webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 45%, rgba(255,255,255,.4));
	/* text-shadow: 1px 1px 3px #143d67; */
}
@-webkit-keyframes welcome-animation{
 0%{background-position: left bottom;}
 100%{background-position: right bottom;}
}

/* main_nav */
.main_nav{background: #ccc; height: 35px; line-height: 35px;}
.main_nav div{float: left; width:30%;}
